.task-card {
  box-shadow: 0 2px 90px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: box-shadow 0.2s ease;
  transform: translateY(20px);
  padding: 8px;
  opacity: 0;
  transform: translateY(20px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-card.animate {
  animation: fadeInFromBelow 0.6s ease-out forwards;
}

.task-card:hover {
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-right-controls {
  display: flex;
  gap: 8px;
}

.additional-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1130px) {
  .additional-actions {
    visibility: hidden;
  }
}

@media (min-width: 1130px) {
  .small-menu {
    visibility: hidden;
  }
}



@keyframes fadeInFromBelow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
