.dashboard {
  display: flex;
  /* dvw and dvh are for mobile support vw and vh are fallbacks */
  height: 92vh;
  height: 92dvh;
  justify-content: space-evenly;
  padding: 18px;
  gap: 12px;
}

.create-button-container {
  box-sizing: border-box;
  padding: 8px;
}

.create-button {
  width: auto;
}

@media (max-width: 1020px) {
  .dashboard {
    flex-direction: column;
  }
}